<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>


<body>
	

	<% include ../partials/header %>

Sample properties...


	<% include ../partials/footer %>
</body>

</html>